@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: 176 0% 95%;
  --foreground: 176 0% 0%;
  --card: 176 0% 90%;
  --card-foreground: 176 0% 10%;
  --popover: 176 0% 95%;
  --popover-foreground: 176 95% 0%;
  --primary: 176 100% 28%;
  --primary-foreground: 0 0% 100%;
  --secondary: 176 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 138 10% 85%;
  --muted-foreground: 176 0% 35%;
  --accent: 138 10% 80%;
  --accent-foreground: 176 0% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 176 0% 90%;
  --border: 240 5% 80%;
  --input: 176 20% 18%;
  --ring: 176 100% 28%;
  --radius: 0.5rem;
}



.dark {
  --background: 176 10% 5%;
  --foreground: 176 0% 90%;
  --card: 176 0% 0%;
  --card-foreground: 176 0% 90%;
  --popover: 176 10% 5%;
  --popover-foreground: 176 0% 90%;
  --primary: 176 90% 39%;
  --primary-foreground: 0 0% 0%;
  --secondary: 176 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 138 10% 15%;
  --muted-foreground: 176 0% 60%;
  --accent: 138 10% 15%;
  --accent-foreground: 176 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 176 0% 90%;
  --border: 240 5% 20%;
  --input: 176 20% 18%;
  --ring: 176 90% 39%;
  --radius: 0.5rem;
}

/*.dark {*/
/*  --background: 176 10% 5%;*/
/*  --foreground: 176 0% 90%;*/
/*  --card: 176 0% 0%;*/
/*  --card-foreground: 176 0% 90%;*/
/*  --popover: 176 10% 5%;*/
/*  --popover-foreground: 176 0% 90%;*/
/*  --primary: 176 100% 28%;*/
/*  --primary-foreground: 0 0% 100%;*/
/*  --secondary: 176 10% 10%;*/
/*  --secondary-foreground: 0 0% 100%;*/
/*  --muted: 138 10% 15%;*/
/*  --muted-foreground: 176 0% 60%;*/
/*  --accent: 138 10% 15%;*/
/*  --accent-foreground: 176 0% 90%;*/
/*  --destructive: 0 50% 30%;*/
/*  --destructive-foreground: 176 0% 90%;*/
/*  --border: 240 5% 20%;*/
/*  --input: 176 20% 18%;*/
/*  --ring: 176 100% 28%;*/
/*  --radius: 0.5rem;*/
/*}*/
/**/


@layer base {

  html {
    @apply h-full;
  }

  body {
    @apply bg-background text-foreground h-full antialiased;
  }

  #root {
    @apply h-full;
  }
}

@layer utilities {
  .scroll-smooth {
    scroll-behavior: smooth;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
